<!doctype html>
<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %} Euro</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
<div class="header">
  <h1>EuroBETter</h1>
  <ul>
    {% if g.user %}
      <li><span>Logged as: {{ g.user['username'] }} score: {{ g.user['score'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</div>

<div class="row">
  <div class="col-3">
  </div>

  <div class="col-3 col-6 matches">
    {% block header %}{% endblock %}
  </div>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <div class="col-9">
  </div>

</div>
<div class="any">
  <div class="col-3">
  </div>

  <div class="col-3 col-6 menu">
    {% block content %}{% endblock %}
  </div>
</div>


</body>
